<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-2">
         <div class="card bg-light mb-3 h-100">
            <%= image_tag @article.images.thumb.url, class: "figure-img img-fluid rounded" %>
            <div class="card-body">
               <h5 class="card-title border-bottom pb-3"><strong><%= @article.title %></strong>
                <a class="float-right  btn-info d-inline-flex share"></a></h5>
               <p class="card-text"><strong><%= truncate_html(@article.body.html_safe, length: 250) %></strong></p>
                <% palabra = " Categorias: " %>
        <% @article.categories.each do |category| %>
            <% palabra = "#{palabra} #{category.name} - " %>
        <% end %> 
        <p><%= palabra %></p>
            <% if user_signed_in?%>
                    <%= link_to "Editar", edit_article_path, class: "btn btn-warning" %>
                    <%= link_to "Eliminar", article_path(@article), method: :delete, data: {confirm: "Estas Seguro?"}, class: "btn btn-danger" %>
            <% end %>
                    <%= link_to 'Atras', root_path, class: "btn btn-success" %>
      
         </div>
        </div>
    </div>
</div>










