<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h3><strong>Titulo:</strong></h3></div>
                        <div class="card-body">
                            <h4 class="card-title"><strong><%= @article.title %></strong></h4>
                        </div>    
                </div>    
            </div>
            <div class="col-md-6">
                <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h3><strong>Mensaje:</strong></h3></div>
                        <div class="card-body">
                            <h4 class="card-title"><strong><%= @article.body %></strong></h4>
                        </div>    
                </div>    
            </div>

        <div class="col-md-12 col-sm-12">
        
            
                <p><%= @article.user.try(:email) %></p>
            
       
            <%= link_to "Editar", edit_article_path, class: "btn btn-warning" %>
            <%= link_to "Eliminar", article_path(@article), method: :delete, data: {confirm: "Estas Seguro?"}, class: "btn btn-danger" %>
            <%= link_to 'Atras', root_path, class: "btn btn-success" %>

      </div>

      
        </div>
    </div>
</div>








